*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(31, 116, 168);
  font-family: "Josefin Sans", sans-serif;
}
.App {
  padding-top: 3rem;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.day-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.welcome {
  color: rgb(170, 208, 250);
  text-align: center;
  margin-top: 20rem;

  font-size: 8rem;
  letter-spacing: 6px;
}
