.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: solid 0.1rem white;
  /* background-color: rgba(255, 255, 255, 0.16); */
  background-color: #25b6da69;
  /* width: 80%; */
  border-radius: 1rem;

  padding: 2rem;
  margin: 2rem 20%;
}
@media (max-width: 790px) {
  .form-container {
    border: none;
    background-color: transparent;
  }
  .time-container {
    /* flex-direction: column; */
    margin-bottom: 2rem;
  }
}
.time-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.task-input {
  height: 7rem;
  width: 45rem;
  text-align: center;
  font-size: 2rem;
  /* font-size: 2rem; */
  color: white;
  border: solid 0.1rem white;
  background-color: rgba(255, 255, 255, 0.16);
  border-radius: 0.4rem;
  padding: 1rem;
}
.task-input::placeholder {
  color: rgba(255, 255, 255, 0.601);
}
.time-container input {
  /* height: 3rem; */
  height: 6rem;
  /* width: 20rem; */
  /* width: 40rem; */
  padding: 2rem;
  margin: 2rem;

  border-radius: 1rem;
  border: solid 0.1rem white;
  color: white;
  background-color: rgba(255, 255, 255, 0.16);
  font-size: 2rem;
}
.time-container h2 {
  color: white;
  font-size: 3rem;
  font-weight: 400;
}

.btn-form-container {
  background-color: rgb(23, 180, 23);
  /* background-color: #25b6da9d; */
  width: 6rem;
  height: 6rem;
  margin: 1rem;
  text-align: center;
  border-radius: 1rem;
  position: relative;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.15);
  transition: all 0.2s ease;
}

.btn-form-container:hover {
  transform: scale(1.1);
}
.btn-form-container:active {
  transform: scale(0.9);
}
.btn-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5rem;
  height: 5rem;
  border-radius: 10rem;
  border: none;
  font-size: 3rem;
  font-weight: 900;
  color: green;
}
